html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1a73e8; 
}

.App {
  display: flex;
  min-height: 100vh;
}

h1 {
  margin: 20px 0; /* Adjust margin as needed */
  position: absolute; /* Position the title */
  top: 0; /* Align title to the top */
  right: 28%; /* Move title to the center horizontally */
  transform: translateX(-50%); /* Center title horizontally */
}


.category-section {
  margin-bottom: 40px;
}

.category-title {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
}

.openings-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust to fit 4 items per row */
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opening-item {
  background-color: #f9f9f9;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for zoom effect */
}

.opening-item:hover {
  transform: scale(1.018); /* Zoom in */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
}

.opening-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.opening-item h3 {
  margin: 10px 0 5px;
}

.opening-item p {
  margin: 10px 0;
}

.ratings {
  margin-top: 10px;
}

.rating-bubble {
  display: inline-block;
  background-color: #ccc;
  color: #000;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.content {
  margin-top: 50px; /* Move everything down */
  margin-left: 300px; /* Keep the content centered */
  padding: 20px;
  width: calc(100% - 260px); /* Adjust width to fit the content */
  display: flex;
  flex-direction: column;
}



.next-page-button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: auto; /* Push the button to the bottom */
}

.next-page-button:hover {
  background-color: #3367d6;
}

@media (max-width: 768px) {
  .openings-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .openings-list {
    grid-template-columns: 1fr;
  }
}

/* Add this to the end of your existing CSS */
#sort-container {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 15px; /* Decrease padding */
  border-radius: 5px;
  margin-top: 100px; /* Keep it down */
  margin-right: 125px; /* Keep it left */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; /* Ensure it's above the openings */
  display: flex;
  align-items: center;
}

#sort-label {
  font-size: 16px; /* Decrease font size */
  margin-right: 5px; /* Decrease margin */
}

#sort {
  padding: 6px 10px; /* Decrease padding */
  font-size: 14px; /* Decrease font size */
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 3px;
}



